* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
  box-sizing: border-box;
}

/*RESPOSIVO*/

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
nav{

  padding: 1rem;
}
main{
  padding: 1rem;
  flex: 1;
}
.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  /*background: linear-gradient(to right, #323536, #242424, #080808);*/
  background: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
  z-index: 1000; /* Asegura que esté por encima de todo */
}

#svg {
  height: 150px;
  width: 150px;
  fill-opacity: 0;
  stroke-width: 4px;
  /* Define el grosor del trazo */
  stroke-dasharray: 4500;
  stroke-linecap: round;
  /* Suaviza las esquinas del borde */
  opacity: 0.9;
  /* Ajusta la opacidad para un borde definido */
  animation: draw 8s ease infinite, colorChangeInit 8s ease infinite; /* Se cambió el nombre, porque más abajo se utilizaba el mismo, por lo que estaban chocando */
  filter: drop-shadow(0 0 5px white);
  /* Aplica un resplandor suave */
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

/* Se cambió el nombre, porque más abajo se utilizaba el mismo, por lo que estaban chocando */
@keyframes colorChangeInit {
  0% {
    stroke: rgb(172, 54, 250);
  }

  25% {
    stroke: rgb(225, 101, 230);
  }

  50% {
    stroke: rgb(255, 0, 128);
  }

  75% {
    stroke: rgb(196, 25, 90);
  }

  100% {
    stroke: blue;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
  font-family:"Poppins", sans-serif ;
}


html,
body {
  height: 100%;
  width: 100%;
}

*::selection {
  background-color: #fff;
  color: #651ec1;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: #6494db;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 50px;
}

body {
  overflow-x: hidden;
}

body {
  cursor: none;
}

#cursor {
  height: 25px;
  /* Tamaño aumentado para un efecto más notable */
  width: 25px;
  background: #f2f2f2e8;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  transition: transform 0.2s ease, background 0.2s ease;
  /* Suaviza la transición */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

/* Si deseas agregar un efecto de escala al pasar sobre algo */
#cursor:hover {
  transform: scale(1.1);
  /* Aumenta el tamaño al pasar el mouse */
}

#cursor-blur {
  height: 500px;
  width: 500px;
  /*background-color: rgba(169, 63, 218, 0.3);*/
  border-radius: 50%;
  position: fixed;
  filter: blur(80px);
  z-index: 9;
  transition: all linear 0.4s;
  animation: colorChange 5s infinite;

}

@keyframes colorChange {
  0% {
    background-color: #a93fda4d;
    /* Color inicial */
  }

  25% {
    background-color: #3fa9da4d;
    /* Azul claro */
  }

  50% {
    background-color: #daa93f4d;
    /* Amarillo claro */
  }

  75% {
    background-color: #da3fa94d;
    /* Rosa claro */
  }

  100% {
    background-color: #a93fda4d;
    /* Vuelve al color inicial */
  }
}

#nav {
  height: 160px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 0 120px;
  gap: 50px;
  position: fixed;
  justify-content: space-between;
  z-index: 99;
}

#nav img {
  height: 4.5vw;
}

#nav .nav-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  /* Espacio entre los enlaces */
  flex-grow: 1;
}

#nav a {
    
  color: #000;
  text-transform: capitalize;
  font-weight: 500;
  cursor: none;
  font-size: 1.8vw;
  text-decoration: none;
  /* Elimina la línea del enlace */
  position: relative;
  /* Necesario para el efecto del cursor */
  transition: color 0.5s ease, background-color 0.5s ease;
  z-index: 200 !important;
  /* Suaviza la transición de color */
  font-family:"Poppins", sans-serif ;
}

#nav a:hover {
  color: white;
  
}
.label-list{
  font-size: 50px;
  color: white;
  float: right;
  line-height: 80px ;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.menus{
  display: none;
}

@media screen and (max-width: 952px){
  #nav .lis-resposive{
      position: absolute;
      width: 100%;
      top:150px;
      height: 60vh;
      background: #0000004a;
      text-align: center;
      padding: 0;
      margin: 0;
      left: 0;
      transition: 0.5s;
      z-index: 100;
      overflow: hidden;
  }
  #nav .nav-links {
    font-size: 30px;
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }
  #check:checked ∼ .menus{
    display: block;

  }
  #check:checked ∼ .menus + .lis-resposive{
    height: 80vh;
    padding: 50px 0;
  }
  .menus{
    display: block;
  }
  .menus .label-list{
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    display: block;
  }
  .x-icon{
    display: none;
  }
  #check:checked ∼ .menus .label-list .line-icon{
    display: none;
  }
  #check:checked ∼ .menus .label-list .x-icon{
    display: block;
  }

  #footer{
    display: flex;
    flex-direction: column;
    padding: 5rem;
  }
  .social-login-icons{
    display: flex;
    justify-content: end;
  }
      body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    #nav{
        
        padding: 1rem;
    }
}

.white-text:hover {
  color: white !important;
  /* Cambia el color del texto al pasar el cursor */
}

.text-white, .text-white * {
  color: #fff !important; /* Cambia el color del texto a blanco */
  transition: color 0.5s ease; /* Transición suave para el color */
}


.btn {
  display: flex;
  flex-direction: column;
  /* Coloca el texto en columnas */
  justify-content: center;
  /* Centra verticalmente el contenido */
  align-items: center;
  /* Centra horizontalmente el contenido */
  width: 100px;
  /* Ajusta el tamaño según sea necesario */
  height: 100px;
  /* Mantiene el mismo ancho y alto para la forma circular */
  background-color: black;
  /* Color de fondo negro */
  color: white;
  /* Color del texto */
  border-radius: 50%;
  /* Hace que el enlace tenga forma circular */
  text-align: center;
  /* Centra el texto dentro del enlace */
  text-decoration: none;
  /* Elimina el subrayado del enlace */
  transition: background-color 0.3s ease;
  /* Transición suave al cambiar el fondo */
}

.btn:hover {
  background-color: #444;
  /* Cambia el color de fondo al pasar el cursor */
}

/* Ajustes para el texto */
.hola {
  font-size: 1.2rem;
  /* Tamaño del texto, ajústalo como necesites */
  font-family: 'Times New Roman', Times, serif;
}



#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.39);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 12vw;
  font-weight: 900;
  position: relative;
  height: auto;
}

/*#page1 h1::before {
    /*content: " ";
    position: absolute;
    color: #000;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 1.5px #95c11e;
    z-index: -1;*/
/*}*/
#page1 h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family:"Poppins", sans-serif ;
}

#page1 p {
  font-size: 1.2vw;
  font-weight: 500;
  width: 40%;
}

#page1 #arrow {
  height: 250px;
  width: 250px;
  background-color: transparent;
  border: 2px solid #b580ca;
  position: absolute;
  display: flex;
  left: -2%;
  bottom: 0%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all ease 0.5s;
}

#page1 #arrow i {
  font-size: 50px;
  font-weight: 100;
}

#page1 #arrow:hover {
  scale: 0.4;
  background-color: #b580ca;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

#scroller::-webkit-scrollbar {
  display: none;
}

#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 100px;
  font-weight: 900;
  font-family: gilroy;
  margin-right: 20px;
  transition: all linear 0.3s;
  color: #000 !important;
  -webkit-text-stroke: 2px #ffffff;
}

#scroller h4:hover {
  color: #865ce9 !important;
  -webkit-text-stroke: 2px #be9ef1;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#about-us {
  height: 80vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  padding: 0 50px;
  align-items: center;
  position: relative;
  z-index: 10;
  justify-content: space-around;
}

#about-us img {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  object-fit: cover;
}

#about-us-in {
  width: 50%;
  text-align: center;
}

#about-us-in h3 {
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 30px;
}

#about-us-in p {
  font-size: 20px;
  line-height: 26px;
  font-family:"Poppins", sans-serif ;
}


#green-div {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  /* background-color: red; */
  background: linear-gradient(to left bottom, #956ae4, #de98e7);
}

#green-div h4 {
  width: 45%;
  line-height: 50px;
  color: #000 !important;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  
}

/*#green-div img {
  height: 100%;
  object-fit: cover;
  width: 14%;
}*/

/*#page3 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}*/

.container00 {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.container00 .box01 {
  position: relative;
  width: 25rem;
  height: 32rem;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: white;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 200;
}

.container00 .box01:nth-child(2){
  border: 2px solid #f896e8;
  color: #f896e8;
}

.box01 span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: white;
  transition: 0.3s;
  /* after the hover effect */
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.box01:nth-child(2) span{
  background: #f896e8;
}

.box01:hover span {
  width: 300px;
  height: 300px;
}

.content02 h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
  font-family:"Poppins", sans-serif ;
}

.content02 > p{
  font-size: 1.2rem;
}



#page4 {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  top: 10vh;
}

.elem {
  height: 70%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  display: flex;
  color: #000;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  font-size: 2vw;
  position: absolute;
  z-index: 10;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}

.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}

.elem:hover img {
  scale: 1;
}

#page4 h1{
  font-size: 6.4vw;
  position: absolute;
  top: -15%;
  font-weight: 900;
  font-family: gilroy;
  color: #000 !important;
  -webkit-text-stroke: 2px #ffffff !important;
}


#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #956ae4 0%, #de98e7 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px ;
  padding-bottom: 70px;
  padding-top: 10px;
}

#footer>img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}


#f1{
  position: relative;
  z-index: 99;
  /* background-color: red; */
}

#f1 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  /*text-transform: uppercase;*/
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/*ESTILOS DE FOOTER*/

.social-login-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4,.social-icon-5,
.social-icon-5-5 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 20px 0 0px 0;
}

.icon svg {
  fill: #111;
}

.socialcontainer {
  height: 80px;
  overflow: hidden;
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}
.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg, 
.social-icon-5 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
.social-icon-1-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}
.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg,
.socialcontainer:hover .social-icon-5 svg {
  opacity: 1;
}
.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}
.social-icon-5 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

  background: linear-gradient(
    180deg,
    rgb(71, 228, 97) 0%,
    rgb(28, 201, 51) 91%
  );
}

.socialcontainer:hover .social-icon-5 {
  transform: translateY(-70px);
}                                        
   